body, html {
    padding: 0;
    margin: 0;
    font-size: 16px;
}
.show {
    display: block !important;
    opacity: 1 !important;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.wrapper-overflow {
    overflow: hidden;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}
.container_width {
    max-width: 1780px;
    padding: 0 10px;
}
.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header__nav {
    padding-top: 76px;
}
.nav__container-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav__link {
    transition: 0.3s;
    font-family: "TitilliumWeb";
    font-size: 1rem;
    color: #454545;
    padding: 0 13px;
    text-decoration: none;
    line-height: 40px;
    display: inline-block;
}
.nav__link:hover {
    text-shadow: 3px 3px 5px #6e7eb8;
}
.logo__link {
    font-family: "TitilliumWeb";
    font-size: 1.9rem;
    font-weight: 700;
    color: #858688;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
}
.logo__link_color {
    color: #5b4295;
}
.nav__personal-area {
    padding-left: 73px;
}
.nav__link_log {
    max-width: 65px;
    position: relative;
}
.nav__link_log:hover::after {
    left: -20px;
}
.nav__link_log::after {
    content: '';
    transition: 0.3s;
    position: absolute;
    top: 0;
    left: -16px;
    width: 30px;
    height: 100%;
    background: url('../img/log-in.png') no-repeat 50% 50%;
    background-size: contain;
}
.nav__link_sign {
    max-width: 95px;
    transition: 0.3s;
    background-image: linear-gradient(125deg, #582c7e, #6379d0);
    border-radius: 20px;
    color: #ffffff;
    padding: 0 23px;
    margin-left: 8px;
    box-shadow: 0 7px 20px 0px #6e7eb8;
}
.nav__link_sign:hover {
    box-shadow: 0 7px 25px 5px #6e7eb8;
}
.languages-container {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}
.languages-container__language {
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    font-family: "TitilliumWeb";
    font-size: 0.9rem;
    color: #959595;
    padding: 0 12.5px;
    line-height: 48px;
    display: inline-block;
}
.languages-container__language_no-padding_left {
    padding-left: 0;
}
.languages-container__language_no-padding_right {
    padding-right: 0;
}
.languages-container__language:hover {
    font-weight: 700;
}
.languages-container__language::after {
    content: '/';
    display: inline-block;
    position: absolute;
    top: 50%;
    right: -4px;
    transform: translateY(-50%);
    font-weight: 400;
}
.anguages-container__language_no-after-el::after {
    content: none;
}
.languages-container__language_active {
    font-weight: 700;
}
.languages-container__language_active::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 13px;
    left: 0;
    right: 12.5px;
    height: 1px;
    width: auto;
    background-color: #bfc5d4;
}
.main {
    padding-top: 75px;
}
.main__bg {
    z-index: 5;
    position: relative;
    padding-top: 30px;
    width: 100%;
    height: 540px;
    background: url('../img/main-bg.jpg') no-repeat 50% 100%;
    background-size: cover;
}
.container_social-networks {
    max-width: 1755px;
}
.main__social-networks {
    position: absolute;
    right: 10px;
    top: 110px;
    transform: translateY(-50%);
    width: 21px;
    display: flex;
    flex-direction: column;
}
.social-networks__link {
    opacity: 0.8;
    width: 21px;
    height: 21px;
    margin-bottom: 17px;
    background: url('../img/social-networks.png') no-repeat 50% 50%;
}
.social-networks__link:hover {
    opacity: 1;
}
.social-networks__link_bg_1 {
    background-position: 0 0;
}
.social-networks__link_bg_2 {
    background-position: 0 -37px;
}
.social-networks__link_bg_3 {
    background-position: 0 -74px;
}
.main__title {
    font-family: "TitilliumWeb";
    font-size: 3.75rem;
    color: #454545;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}
.main__text {
    font-family: "TitilliumWeb";
    font-size: 2.25rem;
    color: #464646;
    text-align: center;
    display: block;
}
.main__link {
    text-decoration: none;
    color: #fc2028;
}
.main__link:hover {
    text-decoration: underline;
}
.create-account-container {
    display: flex;
    justify-content: center;
}
.main__create-account-container {
    position: relative;
    padding-top: 73px;
}
.create-account-container__button {
    cursor: pointer;
    transition: 0.3s;
    z-index: 5;
    padding: 0 65px;
    font-family: "TitilliumWeb";
    font-size: 1.125rem;
    color: #ffffff;
    font-weight: 700;
    line-height: 55px;
    background-image: linear-gradient(to right, #646c92, #5f2e69);
    border-radius: 30px;
    box-shadow: 0 0 10px 2px #c0bdcf;
}
.create-account-container__button:hover {
    box-shadow: 0 0 20px 10px #c0bdcf;
}
.create-account-container__download {
    transition: 0.3s;
    cursor: pointer;
    z-index: 5;
    height: 45px;
    width: 45px;
    background-color: #6d4972;
    border-radius: 50%;
    align-self: center;
    margin-left: 25px;
    opacity: 0.9;
}
.create-account-container__download:hover {
    opacity: 1;
}
.create-account-container__download_apl {
    background: #6d4972 url('../img/apple-store.png') no-repeat 50% 50%;
}
.create-account-container__download_play {
    background: #6d4972 url('../img/play-market.png') no-repeat 50% 50%;
}
.create-account-container__shadow-line {
    z-index: 1;
    position: absolute;
    top: 93%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 545px;
    height: 55px;
    background: url('../img/shadow-line.png') no-repeat 50% 50%;
}
.main__our-advantages {
    padding-top: 104px;
}
.our-advantages {
    position: relative;
    z-index: 1;
    max-width: 1314px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.our-advantages__column {
    position: relative;
    width: 438px;
    min-width: 438px;
    box-sizing: border-box;
    padding-left: 75px;
    font-family: "TitilliumWeb";
}
.our-advantages__column_line::after {
    content: '';
    position: absolute;
    display: block;
    background-color: #b9b9b9;
}
.our-advantages__column_line_1::after {
    width: 1px;
    height: 211px;
    top: -130px;
    right: -34px;
}
.our-advantages__column_line_2::after {
    width: 1px;
    height: 435px;
    top: 4px;
    right: -28px;
}
.our-advantages__column_line_3::after {
    width: 100vw;
    height: 1px;
    top: 4px;
    right: -51px;
    transform: translateX(100%);
}
.our-advantages__title {
    position: relative;
    margin: 0;
    font-size: 1.87rem;
    font-weight: 400;
    color: #555555;
    padding-left: 65px;
}
.our-advantages__title::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 55px;
    width: 55px;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
.our-advantages__title_bg_1::after {
    background-image: url('../img/advantages-bg-1.png');
}
.our-advantages__title_bg_2::after {
    background-image: url('../img/advantages-bg-2.png');
}
.our-advantages__title_bg_3::after {
    background-image: url('../img/advantages-bg-3.png');
}
.our-advantages__short-description {
    color: #959393;
    font-size: 1.125rem;
    padding-left: 65px;
    margin: 0;
}
.our-advantages__full-description {
    font-size: 0.87rem;
    color: #959393;
    margin: 0;
    padding: 28px 0 ;
    line-height: 22px;
}
.main__company-description {
    padding-top: 88px;
    padding-bottom: 87px;
    padding-right: 235px;
}
.company-description {
    box-sizing: border-box;
    position: relative;
    max-width: 865px;
    margin: 0 auto;
}
.company-description__title {
    margin: 0;
    text-align: right;
    color: #535353;
    font-family: "TitilliumWeb";
    font-size: 3.75rem;
    font-weight: 400;
}
.company-description__text {
    color: #959393;
    font-family: "TitilliumWeb";
    font-size: 1.5rem;
    text-align: right;
    padding-top: 11px;
    line-height: 23px;
    margin: 0;
}
.highlight-text {
    color: #f65151;
}
.company-description__link {
    transition: 0.3s;
    position: absolute;
    bottom: 0;
    right: 25px;
    font-family: "TitilliumWeb";
    font-size: 1rem;
    color: #676767;
    text-decoration: none;
    line-height: 59px;
    display: inline-block;
    border: 1px solid #b9b9b9;
    border-radius: 30px;
    padding: 0 35px;
    background-color: #ffffff;
}
.company-description__link:hover {
    background-color: #b9b9b9;
    color: #ffffff;
}
.company-description__link::after {
    content: '';
    position: absolute;
    display: block;
    background-color: #b9b9b9;
    width: 100vw;
    height: 1px;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
}
.our-partners {
    width: 100%;
    max-width: 959px;
    display: flex;
    justify-content: space-between;
}
.main__our-partners {
    padding-top: 50px;
}
.our-partners__link {
    opacity: 0.8;
    transition: 0.3s;
    display: block;
    width: 120px;
    height: 45px;
    background-image: url('../img/our-partners-bg.png');
    background-repeat: no-repeat;
    background-size: auto;
}
.our-partners__link:hover {
    opacity: 1;
}
.our-partners__link_bg_1 {
    background-position: -9px 50%;
    width: 143px;
    margin-left: 10px;
}
.our-partners__link_bg_2 {
    background-position: -186px 50%;
    width: 115px;
}
.our-partners__link_bg_3 {
    background-position: -346px 50%;
    width: 129px;
    margin-left: 20px;
}
.our-partners__link_bg_4 {
    background-position: -507px 50%;
}
.our-partners__link_bg_5 {
    background-position: -656px 50%;
    width: 152px;
}
.our-partners__link_bg_6 {
    background-position: -837px 50%;
}
.our-partners__link_bg_7 {
    background-image: url('../img/our-partners-bg-2.png');
    background-position: -17px 50%;
}
.our-partners__link_bg_8 {
    width: 140px;
    height: 49px;
    background-image: url('../img/our-partners-bg-2.png');
    background-position: -137px 50%;
}
.our-partners__link_bg_9 {
    width: 138px;
    background-image: url('../img/our-partners-bg-2.png');
    background-position: -277px 50%;
}
.our-partners__link_bg_10 {
    width: 151px;
    background-image: url('../img/our-partners-bg-2.png');
    background-position: -415px 50%;
}
.our-partners__link_bg_11 {
    background-image: url('../img/our-partners-bg-2.png');
    background-position: -566px 50%;
}
.our-partners__link_bg_12 {
    background-image: url('../img/our-partners-bg-2.png');
    background-position: -687px 50%;
    width: 152px;
}
.our-partners__link_bg_13 {
    background-image: url('../img/our-partners-bg-2.png');
    background-position: -838px 50%;
    width: 80px;
}
.description-service {
    max-width: 1088px;
    box-sizing: border-box;
    width: 100%;
}
.main__description-service {
    margin: 0 auto;
    padding: 0 10px;
    padding-top: 43px;
    position: relative;
    z-index: 5;
}
.description-service__list-tabs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-width: 575px;
    width: 100%;
    position: relative;
    padding-top: 24px;
    padding-bottom: 175px;
}
.list-tabs__tab {
    position: absolute;
    top: 0;
    left: 35px;
    display: none;
}
.list-tabs__tab_active {
    display: block;
}
.list-tabs__tab-dist {
    transition: 0.3s;
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin-top: 11px;
    background-color: #b7b7b7;
}
.list-tabs__tab-dist:hover {
    background-color: #242323;
}
.list-tabs__tab-dist_active {
    background-color: #101010;
    width: 13px;
    height: 13px;
    margin-left: -1px;
    margin-top: 10px;
}
.tab__description {
    /* I did not find required fonts */
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    color: #101010;
    line-height: 31px;
    margin-bottom: 11px;
}
.tab__author {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    color: #727272;
}
.device-selection {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.main__device-selection {
    padding-top: 25px;
    padding-bottom: 235px;
}
.device-selection__container {
    position: relative;
    max-width: 450px;
    width: 100%;
    padding-right: 37px;
}
.device-selection__container::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    width: 578px;
    height: 670px;
    right: -387px;
    top: -283px;
    background: url('../img/device-selection-main-bg.jpg') no-repeat 50% 50%;
}
.device-selection__container::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #b9b9b9;
    z-index: 2;
    width: 100vw;
    height: 1px;
    left: -257px;
    top: 383px;
}
.device-selection__title {
    position: relative;
    z-index: 5;
    font-family: 'TitilliumWeb';
    font-size: 2.25rem;
    font-weight: 400;
    color: #535353;
    text-align: right;
    margin: 0;
}
.device-selection__description {
    position: relative;
    z-index: 5;
    font-family: 'TitilliumWeb';
    font-size: 1rem;
    font-weight: 600;
    color: #959393;
    text-align: right;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 30px;
    line-height: 22px;
}
.device-selection__link {
    position: relative;
    z-index: 5;
    transition: 0.3s;
    display: inline-block;
    width: 180px;
    height: 55px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    float: right;
    margin-left: 13px;
}
.device-selection__link_bg_1 {
    background-image: url('../img/device-selection-bg-1.png');
}
.device-selection__link_bg_2 {
    background-image: url('../img/device-selection-bg-2.jpg');
}
.support-company {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.main__support-company {
    padding-bottom: 20px;
}
.support-company__title {
    padding: 0 10px;
    width: 100%;
    text-align: center;
    font-family: 'TitilliumWeb';
    font-size: 2.25rem;
    font-weight: 400;
    margin: 0;
    color: #535353;
}
.support-company__description {
    width: 100%;
    text-align: center;
    font-family: 'TitilliumWeb';
    font-size: 1.81rem;
    font-weight: 400;
    line-height: 36px;
    margin: 0;
    color: #7c7c7c;
    padding: 0 10px;
}
.support-company__link-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 530px;
    padding-top: 38px;
}
.support-company__link {
    transition: 0.3s;
    position: relative;
    display: inline-block;
    line-height: 56px;
    padding-left: 58px;
    padding-right: 25px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'TitilliumWeb';
    font-size: 1.125rem;
    font-weight: 700;
    color: #ffffff;
    border-radius: 28px;
    text-decoration: none;
}
.support-company__link:hover {
    letter-spacing: 2px;
}
.support-company__link::before {
    content: '';
    display: block;
    height: 56px;
    width: 10px;
    position: absolute;
    left: 22px;
    top: -2px;
}
.support-company__link_color_1 {
    box-shadow: 0 -2.5px 2.5px 0 #c5bfd3,
    0 11px 11px 0 #666d9f;
    background-image: linear-gradient(to right, #646c93, #5f2e69);
}
.support-company__link_color_1::before {
    width: 20px;
    background: url('../img/support-company-link-bg-1.png') no-repeat  50% 50%;
}
.support-company__link_color_2 {
    padding-left: 69px;
    padding-right: 49px;
    box-shadow: 0 -2.5px 2.5px 0 #bfc7d2,
    0 11px 11px 0 #55a1a9;
    background-image: linear-gradient(to right, #35bbe0, #5f7ce9); 
}
.support-company__link_color_2::before {
    left: 47px;
    top: 0px;
    background: url('../img/support-company-link-bg-2.png') no-repeat  50% 50%;
}
.main__our-partners_pos {
    max-width: 965px;
    padding-top: 104px;
    padding-bottom: 176px;
    margin: 0 auto;
    justify-content: flex-end; 
    position: relative;
}
.our-partners__text {
    position: absolute;
    top: 64px;
    left: 731px;
    color: #7a7a7a;
    font-family: 'TitilliumWeb';
    font-size: 0.87rem;
    text-align: right;
    margin: 0;
}
.main__our-partners_line::after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: #b9b9b9;
    right: -17px;
    top: 44px;
}
.main__our-partners_line::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100vh;
    background-color: #b9b9b9;
    right: -17px;
    top: 44px;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    padding-right: 241px;
}
.footer__text {
    line-height: 22px;
    color: #5c5c5c;
    font-family: 'TitilliumWeb';
    font-size: 0.875rem;
}
.footer__link {
    transition: 0.3s;
    line-height: 22px;
    color: #5c5c5c;
    font-family: 'TitilliumWeb';
    font-size: 0.875rem;
    text-decoration: none;
    font-weight: 700;
}
.footer__link:hover {
    text-decoration: underline;
}
.footer__text_mt_1 {
    display: block;
    margin-top: 25px;
}
.footer__text_mt_2 {
    display: block;
    margin-top: -18px;
}
.footer__title-list {
    color: #5c5c5c;
    font-family: 'TitilliumWeb';
    font-size: 1.125rem;
    margin: 0;
    text-align: right;
}
.footer__list-link {
    margin: 0;
    padding: 0;
    padding-top: 28px;
    list-style-type: none;
}
.list-link__paragraph {
    text-align: right;
    position: relative;
    padding-right: 10px;
}
.list-link__paragraph::after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #5c5c5c;
}
.list-link__link {
    transition: 0.3s;   
    color: #5c5c5c;
    font-family: 'TitilliumWeb';
    font-size: 0.875rem;
    text-decoration: none;
    line-height: 23px;
    display: inline-block;
}
.list-link__link:hover {
    text-decoration: underline;
}
.footer__column {
    width: 230px;
    position: relative;
}
.footer__column_line_1::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 131px;
    background-color: #b9b9b9;
    left: -20px;
    top: 6px;
}
.footer__column_line_2::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100vh;
    background-color: #b9b9b9;
    right: -30px;
    top: 4px;
}
.footer__column_size_1 {
    width: 201px;
}
.footer__column_size_2 {
    width: 252px;
}
.footer__column-wrapper {
    padding-right: 9px;
    display: flex;
    justify-content: space-between;
}
.footer__social-networks-list {
    margin: 0 auto;
}
.social-networks-list {
    display: flex;
    justify-content: flex-start;
    max-width: 1440px;
    box-sizing: border-box;
    padding: 0 20px;
    padding-top: 77px;
    padding-bottom: 18px;
}
.social-networks-list__link {
    position: relative;
    color: #5c5c5c;
    font-family: 'TitilliumWeb';
    font-size: 0.75rem;
    text-decoration: none;
    padding-right: 30px;
}
.social-networks-list__link:hover {
    text-decoration: underline;
}
.social-networks-list__link::after {
    content: '/';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
}
.social-networks-list__link_after_none::after {
    content: none;
}
.copyright {
    color: #5c5c5c;
    font-family: 'TitilliumWeb';
    font-size: 0.75rem;
}
.footer__copyright {
    display: block;
    padding-bottom: 30px;
    margin-left: -20px;
}
























/* Media */
@media (max-width: 1313px) {
    .footer__copyright {
        margin: 0;
    }
    .main__device-selection {
        padding-bottom: 175px;
    }
    .footer__column_line_1::after {
        content: none;
    }
    .footer__column_line_2::after {
        content: none;
    }
    .footer__column {
        width: 100%;
        padding: 0 10px;
        min-width: 150px;
    }
    .footer__column-wrapper {
        width: 100%;
    }
    .footer__container {
        padding: 0 20px;
    }
    .main__our-partners_line::before {
        content: none;
    }
    .main__our-partners_line::after {
        content: none;
    }
    .our-advantages__column_line::after {
        content: none;
    }
    .company-description__link::after {
        content: none;
    }
    .device-selection__container::before {
        content: none;
    }
    .main__company-description {
        padding-top: 55px;
        padding-right: 0;
    }
    .company-description__title {
        text-align: center;
    }
    .company-description__text {
        text-align: center;
        line-height: 35px;
    }
    .company-description__link {
        right: 50%;
        transform: translateX(50%);
        width: 335px;
        box-sizing: border-box;
    }
    .company-description {
        padding: 55px 20px;
        padding-bottom: 87px;
    }
    .main__our-partners {
        position: static;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .main__our-partners_pos {
        position: relative;
    }
    .our-partners__text {
        left: 50%;
        top: 50px;
        transform: translateX(-50%);
        text-align: center;
    }
    .our-partners__link  {
        margin: 10px 10px;
    }
    .main__description-service {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 1264px) {
    .main__device-selection {
        padding-bottom: 105px;
    }
    .device-selection__container {
        padding: 0 25px;
    }
    .device-selection__container::after {
        content: none;
    }
    .device-selection__title {
        text-align: center;
    }
    .device-selection__description {
        text-align: center;
    }
    .device-selection__link_bg_1 {
        float: left;
    }
    .device-selection__link {
        margin: 0;
    }
}
@media (max-width: 883px) {
    .header__nav {
        justify-content: center;
    }
    .languages-container {
        justify-content: center;
    }
}
@media (max-width: 875px) {
    .main {
        padding-top: 15px;
    }
    .our-advantages__column {
        padding: 20px 0;
    }
    .main__our-advantages {
        padding-top: 30px;
    }
    .main__social-networks {
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        flex-direction: row;
        justify-content: space-between;
        width: 100px;
    }
    .social-networks__link {
        transform: scale(1.5);
    }
}
@media (max-width: 780px) {
    .footer__container {
        flex-wrap: wrap;
        
    }
    .main__our-partners_pos {
        padding-bottom: 55px;
    }
    .footer__column  {
        width: auto;
        margin: 0 auto;
        padding: 20px 10px;
    }
    .footer__column-wrapper {
        display: block;
    }
    .footer__title-list {
        text-align: center;
    }
    .footer__list-link {
        text-align: center;
    }
    .list-link__paragraph::after {
        content: none;
    }
    .list-link__paragraph {
        text-align: center;
        padding: 0;
    }
}
@media (max-width: 725px) {
    .nav__container-links {
        justify-content: center;
    }
    .nav__personal-area {
        padding-left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .support-company__title {
        font-size: 1.75rem;
    }
    .support-company__description {
        font-size: 1.15rem;
    }
    .main__device-selection {
        padding-bottom: 55px;
    }
}
@media (max-width: 625px) {
    .create-account-container__shadow-line {
        display: none;
    }
    .main__create-account-container {
        max-width: 246px;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .create-account-container__download {
        margin: 20px 10px;
    }
}
@media (max-width: 540px) {
    .main__title {
        font-size: 2.75rem;
    }
    .our-advantages__column {
        min-width: 0;
        width: 90%;
    }
}
@media (max-width: 475px) {
    .burger {
        position: fixed;
        left: 0;
        top: 0;
        cursor: pointer;
        z-index: 10;
    }
    .burger__container {
        transition: 0.3s;
        width: 120vw;
        height: 120vh;  
        background-color: #00000038;
        display: none;
        opacity: 0;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    .header {
        position: absolute;
        z-index: 5;
        background-color: #ffffff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70vw;
        min-width: 320px;
        height: 100vh;
    }
    .burger__cross {
        transition: 0.3s;
        height: 40px;
        width: 40px;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        opacity: 0.8;
        padding: 5px;
        background-color: #ffffff;
        border: 3px solid #b9b9b9;
        border-radius: 3px;
    }
    .cross__line {
        transition: 0.3s;
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 25px;
        height: 4px;
        border-radius: 3px;
        background-color: #b9b9b9;
    }
    .burger__cross_open {
        border-color: #ffffff;
    }
    .cross__line_1 {
        top: 8px;
    }
    .cross__line_2 {
        top: 50%;
    }
    .cross__line_3 {
        top: 27px;
    }
    .burger__cross_open .cross__line_1 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    .burger__cross_open .cross__line_2 {
        opacity: 0;
    }
    .burger__cross_open .cross__line_3 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    
    .nav__link {
        text-align: center;
    }
    .nav__container-links {
        width: 100%;
        flex-direction: column;
    }
    .main {
        z-index: 5;
        position: relative;
        padding-top: 0;
    }
    .header__nav {
        padding-top: 25px;
    }
    .nav__personal-area {
        padding: 15px 0;
    }
}
@media (max-width: 465px) {
    .main__company-description {
        padding-top: 20px;
    }
    .company-description__title {
        font-size: 2.15rem;
    }
    .company-description__text {
        font-size: 1.2rem;
    }
    .support-company__title {
        font-size: 2rem;
    }
    .support-company__description {
        font-size: 1.5rem;
    }
    .social-networks-list {
        flex-direction: column;
        padding-top: 0;
    }
    .social-networks-list__link {
        line-height: 30px;
        padding: 0;
        text-align: center;
    }
    .social-networks-list__link::after {
        content: none;
    }
    .footer__copyright {
        margin: 0 auto;
    }
}
@media (max-width: 420px) {
    .device-selection__link {
        float: none;
        display: block;
        margin: 10px auto;
    }
    .device-selection__title {
        margin-top: 15px;
    }
}
@media (max-width: 380px) {
    .company-description__link {
        padding: 0 8px;
        width: 280px;
    }
    .device-selection__title {
        font-size: 1.6rem;
    }
}
@media (max-width: 330px) {
    .our-advantages__title {
        font-size: 1.57rem;
    }
}
