@font-face { 
    font-family: "TitilliumWeb";
    src: url('titillium/TitilliumWeb-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face { 
    font-family: "TitilliumWeb";
    src: url('titillium/TitilliumWeb-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face { 
    font-family: "TitilliumWeb";
    src: url('titillium/TitilliumWeb-SemiBold.ttf') format("truetype");
    font-weight: 600;
    font-style: normal;
}
